body {
    font-family: "Lato", sans-serif;
    background-color: black;
}

body,
html {
    height: 100%;
    margin: 0;
}

.message {
    font-size: 3em;
    color: gray;
    text-align: center;
    position: absolute;
    top: 50%;
    bottom: 50%;
    width: 100%;
}

#bgFill {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;

    /* The image used 
    background-image: url("../images/mountain2.jpg"); */

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    filter: grayscale(90%) blur(30px);

    transition-property: background-image;
    /*transition-duration: 1s;*/
    opacity: 0.6;

    z-index: -1;
}

#photoDisplay {
    /* The image used
    background-image: url("../images/mountain2.jpg"); */

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    /*transition: 4s;*/
    z-index: 10;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

#myMenuBtn{
font-size: 30px;
    color: gray;
    opacity: 0.3;
}

#myMenuBtn:hover{
    opacity: 1.0;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}
