body {
    font-family: "Lato", sans-serif;
    background-color: black;
}

body,
html {
    height: 100%;
    margin: 0;
}

.message {
    font-size: 3em;
    color: gray;
    text-align: center;
    position: absolute;
    top: 50%;
    bottom: 50%;
    width: 100%;
}

#bgFill {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    filter: grayscale(90%) blur(30px);

    transition-property: background-image;
    /*transition-duration: 1s;*/
    opacity: 0.6;

    z-index: -1;
}

#photoDisplay {

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    /*transition: 4s;*/
    z-index: 10;
}
